.moment-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  background-image: url("pinpng.com-slack-logo-png-814209.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: bold;
  animation: animatedBackground 15s linear infinite alternate;
}

@keyframes animatedBackground {
  from {
    background-position: right;
  }
  to {
    background-position: left;
  }
}

.moment {
  padding-right: 1rem;
}
.Date {
  font-size: 1rem;
}

.Time {
  -webkit-text-stroke: 1px black;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: white;
  font-size: 3.8rem;
  margin-top: 1rem;
  text-shadow: 3px 2px 5px black;
}
.welcome {
  padding: 0.5rem 1.5rem;
  font-size: 3rem;
  color: white;
  text-shadow: 3px 2px 5px black;

  -webkit-text-stroke: 1px black;
}

.welcome-container {
  margin-top: 1.5rem;
  background-color: rgba(128, 0, 128, 0.671);
  border-radius: 10px;
}

@media only screen and (max-width: 600px) {
  .moment-container {
    display: none;
  }
}
