.home {
  display: flex;
  width: 100%;
}
.Aside-container {
  display: flex;
  flex-direction: column;
  height: 94.9vh;
  width: 15vw;
  padding: 25px;
  background-color: purple;
  color: whitesmoke;
}
.home-C {
  text-align: center;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  color: rgb(230, 152, 152);
  border-bottom: 2px solid grey;
}
.aside-btn {
  padding: 0 0.4rem;
  margin: 0.5rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  height: 2.2rem;
  background-color: rgba(230, 152, 152, 0.664);
  border-radius: 16px;
}

.aside-btn-container {
  display: flex;
  flex-direction: column;
}
.action {
  height: 30px;
  width: 30px;
  background-color: transparent;
  border: none;
  color: whitesmoke;
  background-color: rgba(128, 128, 128, 0.644);
  border-radius: 50%;
  margin-left: 5px;
  padding: 0;
  transition: transform 0.7s ease-in-out;
}

.action:hover {
  transform: rotate(180deg);
}
.channels {
  margin-bottom: 0.5rem;
}
.channels__list {
  padding-top: 0.3rem;
  border: 2px solid grey;
  border-radius: 10px;
  display: flex;
  flex-direction: column-reverse;
  height: 12rem;
  overflow-y: scroll;
  margin: 0;
  padding-inline-start: 20px;
  color: white;
}
.channels__list a {
  color: whitesmoke;
}
.channels__list a:hover {
  color: violet;
}

.channels__list::-webkit-scrollbar {
  overflow-y: hidden;
}

.home-content {
  background-image: url(../Homepage/homeBg.png);
  background-position: center;
  background-size: cover;
  background-repeat: none;
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
}
