.home {
  display: flex;
  width: 100%;
}
.Aside-container {
  display: flex;
  flex-direction: column;
  height: 94.4vh;
  width: 19vw;
  padding: 25px;
  background-color: rgb(97, 6, 97);
  color: whitesmoke;
}
.home-C {
  text-align: center;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  color: whitesmoke;
}
.aside-btn {
  margin: 0.5rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  height: 2.2rem;
  padding: 0.3rem 0.4rem;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.aside-btn-container {
  display: flex;
  flex-direction: column;
}
.action {
  height: 30px;
  width: 30px;
  background-color: transparent;
  border: none;
  color: whitesmoke;
  background-color: #148567;
  border-radius: 50%;
  margin-left: 5px;
  padding: 0;
  transition: transform 0.7s ease-in-out;
}

.action:hover {
  transform: rotate(180deg);
}
.channels {
  margin-bottom: 0.5rem;
}
.channels__list {
  padding-top: 0.3rem;

  /* border-radius: 10px; */
  display: flex;
  flex-direction: column;
  height: 12rem;
  overflow-y: scroll;
  margin: 0;
  padding-inline-start: 20px;
  color: white;
}
.channels__list a {
  color: whitesmoke;
}
.channels__list a:hover {
  color: whitesmoke;
  background-color: rgb(70, 138, 184);
  border-radius: 4px;
  padding-left: 5px;
}

.channels__list a:focus {
  background-color: rgb(70, 138, 184);
  padding-left: 5px;
}

.channels__list::-webkit-scrollbar {
  overflow-y: hidden;
}

.sub-button {
  background-color: #148567; /* Green */
  border: none;
  color: whitesmoke;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.sub-button:hover {
  font-size: large;
  color: lime;
}
.ico {
  margin-right: 5px;
  font-size: 33px;
  background: -webkit-linear-gradient(
    85deg,
    #ecb22e,
    #e01e5a,
    #36c5f0,
    #2eb67d
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
